[2019-01-26 13:20] chromaticsequence opened #1 ""Something went wrong in Telegram's side.""
Something went wrong in Telegram's side. This is the full exception:

Cannot cast NoneType to any kind of InputPeer.

I had this problem while importing a whatsapp chat into my saved messages.

[2019-01-26 13:21] ferferga commented on #1
Could you, please, attach TLImporter-log.log file?

[2019-01-26 13:21] chromaticsequence commented on #1
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/2799015/TLImporter-log.log)

[2019-01-26 13:23] ferferga commented on #1
Are you trying to import the chat into a group/channel? Are you using Secret Mode or normal mode?

[2019-01-26 13:26] ferferga commented on #1
I need to rebase the Telethon version and I was just planning to do it today, so maybe it fixes itself in the new version I republish.

[2019-01-26 13:26] chromaticsequence commented on #1
I'm using normal mode and I wanted to import it to my saved messages. I tried selecting group/channel earlier but I didn't know, that I needed two telegram accounts. (I think it is saying it before but I didn't read.)

[2019-01-26 13:26] chromaticsequence commented on #1
Okay great, I'm gonna try it with your new version.

[2019-01-26 17:03] ferferga commented on #1
The new version has been uploaded. Let me know how it goes! :) 👍

[2019-01-27 17:29] ferferga commented on #1
The new version has been uploaded. Let me know how it goes! :) 👍

[2019-03-28 08:35] ferferga commented on #1
Closing as there is no more news from @UnlegitApple . Re-open again if you (or somebody else) face this issue again.

[2019-03-28 08:35] #1 closed, assigned to nobody

[2019-04-24 16:02] expl0r3rgu1 opened #2 "The app crashes as soon as I type the name of the other partner"

[2019-04-24 16:12] expl0r3rgu1 commented on #2
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3113225/TLImporter-log.log)

[2019-04-24 16:15] ferferga commented on #2
@expl0r3rgu1 The log is useless. What's the error you are receiving in the screen?

[2019-04-24 16:47] expl0r3rgu1 commented on #2
I understood the problem the txt file of the chat is too big. What's the maximum dimension the file can have?

[2019-04-24 16:49] expl0r3rgu1 commented on #2
My chat file is 82 KB big. If I try with just a few lines of the chat it does work. So I need the max dimension the file can have to divide the chat into multiple smaller files

[2019-04-24 16:51] expl0r3rgu1 commented on #2
I can't see the specific error 'cause the app instantly close.

[2019-04-24 16:56] ferferga commented on #2
@expl0r3rgu1 That's not a problem, probably it's a strange non-UTF8 character around. I tried with 20 MB files as far I can recall.

To see the error, open cmd.exe (Win+R and type cmd.exe) and drag and drop the TLImporter executable there. Or type the full path.
That will leave the window open after the program closes. Attach an screenshot, please.

[2019-04-24 16:59] expl0r3rgu1 commented on #2
`This file is valid to be imported. It has 37998 lines in total.

Giulia has 19617 messages. Toto has 18381 messages.

Processing and saving messages in the database...
N/A% (0 of 37998) |                                                              | Elapsed Time: 0:00:00 ETA:  --:--:--Traceback (most recent call last):
  File "TLImporter.py", line 1077, in <module>
  File "TLImporter.py", line 6

[2019-04-24 17:00] expl0r3rgu1 commented on #2
This is what I got

[2019-04-24 17:08] expl0r3rgu1 commented on #2
@ferferga If it can be useful, in this chat there are emoticons and Chinese characters

[2019-04-24 17:24] ferferga commented on #2
@expl0r3rgu1 Emoji should not be a problem, as they are part of Unicode and I tested them. But can't say the same for Chinese characters (I tried most strange characters but those).

I'm outside home right now so I can't take a deeper look at it. It seems, though, that this might be an issue in my end and in your file. You just remembered me that I did not introduce any encoding checking (just nam

[2019-04-24 17:27] expl0r3rgu1 commented on #2
Yes, I'll save the file with UTF-8 encoding

[2019-04-24 17:31] expl0r3rgu1 commented on #2
I did a test with the new UTF-8 encoded file and the result is exactly the same.
I've also checked that the file of the previous test was UTF-8 encoded

[2019-04-24 17:53] expl0r3rgu1 commented on #2
The real mystery is why with just 5 lines of the chat it works and with the whole chat it doesn't

[2019-04-24 21:09] ferferga commented on #2
@expl0r3rgu1 Before I start investigating this any further: do you know exactly the line where it stops then? Can you check if that line has an strange character on it or it's a WhatsApp system message? (Like "your partner's changed encryption keys" and so on). Those system messages from WhatsApp were only tested in Spanish and a little bit (not much, and before the rewrite to Python) in English.

[2019-04-24 21:12] expl0r3rgu1 commented on #2
I noticed that there are some messages regarding the decryption keys. Do I have to delete these messages?
How can I see where the app stops working?

[2019-04-24 21:18] expl0r3rgu1 commented on #2
I've just tried to remove the Whatsapp System messages but the result it's the same

[2019-04-24 21:24] ferferga commented on #2
@expl0r3rgu1 The app should handle those. I will add proper error logging to see where the problem is + a deep inspection on how the text analysis is done, and pass you a testing version with the changes. Do you have Python installed in your system + knowledge of virtualenvs and packages? Or I need to build you an executable?

[2019-04-24 21:25] expl0r3rgu1 commented on #2
N/A% (0 of 37998) | | Elapsed Time: 0:00:00 ETA: --:--:--Traceback (most recent call last):
In this line, you can understand that it stops at the first line of the chat
With the first message

[2019-04-24 21:28] expl0r3rgu1 commented on #2
I've python installed. I'm a programmer in the mobile world, probably I can manage this task. If I have problems I'll write to you here

[2019-04-24 21:58] ferferga commented on #2
@expl0r3rgu1 Well, its simpler and it doesn't take so much time for me. I don't mind really. But you are using Windows right?

[2019-04-24 21:59] expl0r3rgu1 commented on #2
Yes, I am

[2019-04-25 07:24] ferferga commented on #2
@expl0r3rgu1 It seems that the problem is in the header of each message. Can you, please, attach the header of some messages (don't attach the whole message, just the timestamp and name of the user who sent the message)?

If you see https://github.com/TelegramTools/TLImporter/blob/python/samples/WhatsApp_Chat_Diego_Vel%C3%A1zquez.txt that's the format that I developed the app for. I don't know if

[2019-04-25 10:42] expl0r3rgu1 commented on #2
This is the problem!
17/01/19, 16:05 - Giulia: Now this is the format

[2019-04-25 12:09] ferferga commented on #2
Could you please remove the comma meanwhile and replace the hyphen (you can use regex in notepad++)? I will try to add some checks to solve this whenever I have some time, but I would like to know that this is the exact problem and there are no more issues.

Thank you for the time you took investigating this :)

[2019-04-25 12:15] expl0r3rgu1 commented on #2
I'll do it! I am the one who has to thank you 'cause I really need to import my WhatsApp chat in Telegram c:

[2019-04-25 12:16] expl0r3rgu1 commented on #2
Do I have to type it in this way? "17/01/19 - 16:05 - Giulia"

[2019-04-25 12:25] expl0r3rgu1 commented on #2
I don't know how you implemented the part that collects data from the chat but I noticed that the differences between my chat and your example chat are the comma but also the time and the year.
Maybe also this can be problematic.

[2019-04-25 12:28] expl0r3rgu1 commented on #2
I can modify the year from 19 to 2019 and add the seconds at the time (Just a random second to satisfy your algorithm)

[2019-04-25 12:35] expl0r3rgu1 commented on #2
I'm modifying the chat as to be like your example
17/01/2019 16:05:02: Giulia: Message
This is how the chat will look like

[2019-04-25 12:41] expl0r3rgu1 commented on #2
It's working! Thank you so much for your help!

[2019-04-25 12:47] expl0r3rgu1 commented on #2
In order to close this issue I'll say the solution: the format of the WhatsApp exported chat has changed so before a probable update of the program to satisfy these changes, you are the one who has to satisfy the program requirements modifying the chat as to be like the one of this example: [https://github.com/TelegramTools/TLImporter/blob/python/samples/WhatsApp_Chat_Diego_Vel%C3%A1zquez.txt](url

[2019-04-29 07:00] ferferga commented on #2
I will re-open it if you don't mind so I remember fixing this and I give more visibility to this problem :).

[2019-05-24 19:58] Killersemmel opened #3 "No messages sent but no error"
Really fast but no message were sent? Everything seems to work fine but no message is sent except for the two messages (sucess and ~2200 imported)
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3218391/TLImporter-log.log)

[2019-05-25 00:05] ferferga commented on #3
I see tons of timeouts. Is your connection good?

It's strange though that TLImporter didn't warn you. I hope that this doesn't means that Telegram is deprecating the "API version" I'm using in TLImporter.

[2019-05-27 21:28] Killersemmel commented on #3
My connection should be good - computer and both phones are on the same network with 50Mbps download and 10Mbps upload...

[2019-05-28 11:10] Skalyx14 opened #4 "Something went wrong in Telegram's side"
Hello,
Thanks for the tool. Here is the problem I have:

Please refer to the log. I noticed a similar issue was already opened but is closed now.
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3227295/TLImporter-log.log)

[2019-05-28 11:17] ferferga commented on #4
See from [here](https://github.com/TelegramTools/TLImporter/issues/2#issuecomment-486550944) to the bottom of the issue. It seems that WhatsApp has changed the format of their exported chats. You can fix it on your own or wait until I fix it, although I'm quite busy lately (I won't probably have some spare time until summer).

Let me know how it goes, please :)

[2019-05-28 11:25] Skalyx14 commented on #4
Hello,
Thanks for the answer. Yes I understand how it works. I have Whatsapp in French so the format is different.
For ex: 28.04.19 à 14:13 - Anonymous: Test
So I must find a way to modify the format to: 15/02/2018 16:52:04: Test
It seems quite difficult for me haha. I can remove the "à" but would be difficult to find something to convert the date from xx.xx.xx to yy/yy/yyyy in .txt. Do you have a

[2019-05-28 11:47] ferferga commented on #2
@expl0r3rgu1 So it seems that the timestamp format changes between langs as well. Could you describe how/which regex did you use to change the header for future reference until this issue gets fixed? cc to #4

[2019-05-28 11:49] ferferga commented on #4
You can use regex, although this can be a bit complex if you have no idea. Sincerely I'm stuck on how I can do this universally, as now it seems that every lang uses an specific format :(

I've asked the guy who originally discovered this at #2 , so keep an eye to the thread in case Salvatore replies :)

[2019-05-28 15:38] Skalyx14 commented on #2
Yes would be great to get something to convert unsupported Whatsapp TXT to supported ones. :)

[2019-05-28 15:38] Skalyx14 commented on #4
Thanks!
Sure.

[2019-06-23 16:04] rhyswilliamsza commented on #4
@ferferga

Regex to correct WhatsApp:
[code]

I also had to do a replacement on all multiline messages.

[2019-07-21 16:01] ferferga commented on #3
@Killersemmel Sorry for taking so long to reply. I've been in vacation and I missed many notifications.

Were you able to import the chat later? Maybe there were issues in Telegram when you tried.

Btw, you're using the .exe file, right?

[2019-07-21 16:02] ferferga commented on #4
Which replacement exactly?

Testing your regex to publish a new version with the fixes.

[2019-07-21 16:07] ferferga commented on #4
@Skalyx14 You were able to finally import the chat without further issues, right?

[2019-11-07 13:12] GothLab commented on #1
Hi ferferga!
Trying to upload messages to saved messages
in this format

17/01/2019 16:06:02: Giulia: Message

1) Tried 3.0-3.0.2 version
no spaces in file path

2) Tried - Exact names (manualy created file) with, without :
17/01/2019 16:07:02: Giulia: Message
17/01/2019 16:08:02: Me: Message

3) Tried - file from examples

Still same error
Cannot cast NoneType to any kind of InputPeer.

Any advic

[2019-11-07 15:50] ferferga commented on #1
@blacklovefly Please, attach the logs here

[2019-11-07 19:48] GothLab commented on #1
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3823105/TLImporter-log.log)
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3823107/TLImporter-log.log)
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3823109/TLImporter-log.log)

[2019-11-13 10:38] GothLab commented on #1
I've been able to send messages into "saved messages"
by using my number as a 2nd contact

[2019-11-14 20:03] ferferga commented on #1
It has been always a requirement to have both contacts added as mutual contacts to have all the features properly working. In fact, I thought it was written in the documentation somewhere but I couldn't find it, my fault (so, you pointed me to another thing I need to improve)

However, something changed and it seems to give problemas as well even for messages sent to yourself (LoL), so, for sure,

[2019-11-14 20:05] ferferga commented on #1
Btw, you had to convert the WhatsApp messages timestamps, right? As explained in #2

I would really like to know if WhatsApp regex changes from country to country, because I'm starting to have this impression as well.

[2019-11-15 16:10] GothLab commented on #1
No need to be sorry.
I appreciate your work.
You ve got a great tool, man, thats for sure.
it saved loads of time transporting 30k data lines.

I cant tell about whatsup chat structure,
Ive copied "15/02/2018 16:52:04: ferferga: "
from examples folder and added it to every line.
For some reason writing it manualy didnt worked. =\

I wonder wherever it's possible to choose an
group chat id instead

[2019-11-30 07:16] ferferga commented on #4
All this problems should have been fixed in 3.0.3 release.

[2019-11-30 07:17] #4 closed, assigned to nobody

[2019-11-30 07:21] ferferga commented on #2
All the problems with this have been fixed in 3.0.3 (I hope)

Finally the problem that the program was showing was not all caused by the format of the exported chat, it was a fault in the whole logic, which I don't know why, sometimes was triggered by some users, sometimes don't. However, although it wasn't caused by it, now TLImporter recognises both the Old and the New format.

Check out the rel

[2019-11-30 07:21] #2 closed, assigned to nobody

[2019-11-30 07:22] ferferga commented on #3
Closing due to inactivity

[2019-11-30 07:22] #3 closed, assigned to nobody

[2019-12-15 22:20] zaratans opened #7 "Successful import, no messages."
I ran into no issues importing the chat using TLImpoter, but looking at the chat after, the only messages that imported are "IMPORTING THE CHAT WITH.." and "SUCCESS!!" There are no other messages. Ending TLImporter, it said there was a fatal error and to report it.
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3965544/TLImporter-log.log)

[2019-12-15 22:25] ferferga commented on #7
Good afternoon!

Please, give me more details. Are you using 1:1 mode or are you importing to "Saved Messages"?

[2019-12-15 23:40] zaratans commented on #7
I am importing to "Saved Messages"

[2019-12-15 23:41] ferferga commented on #7
@zaratans Telegram did some API changes and this is broken now. Add your phone number to your contact list and the error should be solved.

[2019-12-15 23:56] zaratans commented on #7
I'm not sure I understand. When I try to add my phone number to my contact list in telegram it takes me to "Saved Messages". Am I doing something wrong?

[2019-12-16 15:44] ferferga commented on #7
No, that means that you were added successfully to your contact list. Just try running TLImporter again.
I suppose that yo're doing this in TDesktop as well, right?

[2019-12-16 21:37] zaratans commented on #7
Yes, I am using the desktop telegram application. After adding myself to my contacts, I got the same error message and none of the messaged imported. On trying to exit TLImporter it says "FATAL ERROR! TLImporter had an irrecuperable error. Please, report this bug. Details in TLImporter-log.log. Press ENTER to exit"
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/3970240/TLIm

[2019-12-19 00:38] ferferga commented on #7
Okay, this one is interesting. It seems that Telegram is really messing things up.

While debugging and trying to understand (this issue)[https://github.com/TelegramTools/TLMerger/issues/1] in my other app (which shares a lot of it's core with TLImporter), I received a strange error (an object was null where it shouldn't). I checked the chat in TDesktop and, when scrolling up to see older messages

[2019-12-22 18:04] mowolf opened #9 "Adapting for other data formats"
I don't know if you are aware, but currently your program only supports two data formats of the exported data from WhatsApp. The exported data format unfortunately depends on the device settings (Country, Clock etc.).

At some point in time I needed to cover all these cases and built a quite complex regex that covers all different formats which I encountered so far.

You can have a look at the reg

[2019-12-31 02:00] Heartran commented on #7
Same error: seems that Telegram is really messed up!
[TLImporter-log.log](https://github.com/TelegramTools/TLImporter/files/4011709/TLImporter-log.log)

[2019-12-31 11:37] ferferga commented on #7
@Heartran Did you try adding yourself to contacts first? Because you're importing messages to 'Saved Messages', right?

[2019-12-31 11:51] ferferga commented on #9
Yes, I was aware, but due to the fact that I wanted TLImporter to be finished, bug-free and working for me as fast as possible, I didn't had a lot of time to check all the possible regex that WhatsApp uses for exported chats (as take in mind that WhatsApp is one of the possibilities, there are thousands of messagging applications out there, and building a regex that could work for all of them corr

[2019-12-31 11:51] #9 closed, assigned to ferferga

[2019-12-31 12:58] Heartran commented on #7
I actually don’t understand what do you mean with adding myself to my contacts. I have already myself in my contacts

[2019-12-31 13:11] ferferga commented on #7
@Heartran Add your phone number to your contact book in your phone or, in Telegram Desktop, go to Contact List > Add Contact and create a contact with your phone number.

(In case you are importing messages to 'Saved Messages', which you didn't confirm)

[2020-01-06 08:56] fabiosangregorio opened #10 "Allow importing media to chat"
It would be awesome if I could send all the media from a chat too. I'd be happy to discuss the feasibility of the implementation with you and putting together a PR for this, after the refactoring issue (#5) is merged.

[2020-01-07 18:38] ferferga commented on #7
@Heartran any news?

[2020-01-08 12:36] Heartran commented on #7
Actually right now I am not using it 😅

[2020-01-08 12:44] ferferga commented on #10
Hey, good afternoon! First of all, thank you very much for your interest in improving TLImporter! 😁

Thanks for reminding me about that PR that, in fact, should be closed. The original author didn't commit any other changes and didn't show any sign of activity. In the meanwhile, I added some fixes and merged #8, so I would need to backport those changes to the decomposition of the program.

Aside

[2020-01-22 08:15] fabiosangregorio commented on #10
Hi, sorry for the delay. I'm starting exams aswell so I don't have much time as of now. :)

I analyzed an export from whatsapp containing some files. Here's the export:
[code]
A file is distinguished by "(file allegato)", which in italian means "attached file". Next to that is the file name.
* an image has a file extension of .jpg or .webp
* an audio has a file extension of .opus
Those files are s

[2020-02-26 11:50] Evilamblonyx opened #11 "FATAL ERROR WHILE SETTING UP"
Hi,
I'm getting an error while importing the txt file. Telegram gives a success message after the process, but no massages are imported.
I attached the command window outputs and the logfile (both with some details like phone numbers partially replaced with ****).
Am I doing it wrong or is this a bug?
[commandwindow.txt](https://github.com/TelegramTools/TLImporter/files/4255475/commandwindow.txt)

[2020-02-26 12:02] ferferga commented on #11
@Evilamblonyx Which format is used in the source .txt file? Check [the samples](https://github.com/TelegramTools/TLImporter/blob/python/samples/WhatsApp_Chat_Diego_Vel%C3%A1zquez.txt) here.

It should work with any format though, so this is likely a bug.

[2020-02-26 12:07] Evilamblonyx commented on #11
You can find a short example from the input file in the attachment. It doesn't look exactly like the example. It's exported from the german version of WhatsApp.
[example_input.txt](https://github.com/TelegramTools/TLImporter/files/4255548/example_input.txt)

[2020-03-01 19:26] bhavye9499 opened #12 "RuntimeError while executing TLImporter.cpython-38.opt-2.pyc"
Hi,
I am using Ubuntu 18.04, and followed the below mentioned steps-
1. Downloaded and extracted TLImporter-3.0.4.zip
2. Downloaded and extracted Source code (zip)
3. Executed this command-  pip install -r requirements.txt
4. Executed this command-  python3 TLImporter.cpython-38.opt-2.pyc

I got this error-  RuntimeError: Bad magic number in .pyc file

Did I do something wrong ?

[2020-03-03 07:01] ferferga commented on #12
By the way, is the normal .py file working correctly?

[2020-03-04 09:46] ferferga commented on #11
@Evilamblonyx Could you try adapting the format to this? ``[04.03.20, 10:43:02] NAME:``

What a mess is the WhatsApp export chat. I guess I'll need to make TLImporter even less strict with the data formats.

Sorry for the late reply btw. I'm full of exams right now and I wanted to check all the ways possible to get around this, but seems to me that, either you adapt it to the sample format, or to

[2020-03-04 09:57] Evilamblonyx commented on #11
@ferferga Thank you for your answer. Don't mind your reply time. This is just a hobby, and we all have other jobs. So thank you for all your usefull work, you put into this tool.
I think it's not possible to change the output format of Whatsapp. And correcting the exported file manually is far to much work.
But I might be able to correct the file with a script. I'm not super skilled as a programme

[2020-03-04 10:10] ferferga commented on #11
No need to write your own, simply use Notepad++! Will save you a lot of time :)

Head over Edit > Find and Replace and switch to regex mode. [This is the only regex](https://github.com/TelegramTools/TLImporter/issues/4#issuecomment-504765123) that someone posted. Got no feedback about how it worked and sincerely not sure if it will work with yours, as the format I got from WP is different from you

[2020-03-04 10:20] Evilamblonyx commented on #11
Oh, I'm using Notepad++ for years now, but I never used this feature. I'll give it a try and give you feedback afterwards.
I don't feel skilled enough to change stuff in the TLImporter code. So I'll try the easy way first.
Thank you for your support.

[2020-03-04 13:52] Evilamblonyx commented on #11
Ok, I managed to change the Date and Time fomat with Notepad++ and the folowing regex:
^([0-3][0-9]\.[0-1][0-9]\.[0-2][0-9], [0-2][0-9]:[0-5][0-9])( - )(.*:)
->
[\1:01] \3
It might not be the most elegant regex for this job, but it worked.

But, there is another problem: The Messages are not importet properly:
It seems to me, that TLImporter expects messages to have no linebreaks - is this correct

[2020-03-05 16:44] bhavye9499 commented on #12
No,

Upon executing this command -   python3 TLImporter.py

I get the following error -
Traceback (most recent call last):
  File "TLImporter.py", line 29, in <module>
    api_id = YOUR_API_ID_HERE
NameError: name 'YOUR_API_ID_HERE' is not defined

[2020-03-05 16:45] ferferga commented on #12
@bhavye9499 You need to follow the instructions in the "building from source" section of the documentation first

[2020-03-05 16:59] bhavye9499 commented on #12
Hi,
Do you mean I should follow instructions from this link? - https://github.com/TelegramTools/TLImporter/wiki/Using-from-sources

[2020-03-05 16:59] ferferga commented on #12
@bhavye9499 Exactly

[2020-03-05 20:02] ferferga commented on #12
@bhavye9499 Tell me if it's successful or you have any other issue please! :D 😁

[2020-03-05 21:12] bhavye9499 commented on #12
Hi,
Eventually it worked out perfectly fine. Thank you for making such a great tool :)  Now I will recommend it to all my friends :D

I believe there is a small bug in the .py file, because of which it is not accepting the file path if you drag-and-drop a .txt file on the terminal. When you drag-and-drop a .txt file, the path appears to be enclosed between single quotes, however at line 1077 in .p

[2020-03-05 21:33] bhavye9499 commented on #12
Hi,
Eventually it worked out perfectly fine. Thank you for making such a great tool :) Now I will recommend it to all my friends :D

I believe there is a small bug in the .py file, because of which it is not accepting the file path if you drag-and-drop a .txt file on the terminal. When you drag-and-drop a .txt file, the path appears to be enclosed between single quotes, however at line 1077 in .py

[2020-03-17 20:39] mahlonzehr opened #13 "install crashes"
I downloaded the zip file, extracted, and double clicked on the .exe files. A dialogue window briefly opens, then crashes. Any help is appreciated!

[2020-03-17 20:52] ferferga commented on #13
@mahlonzehr Open a cmd window and drag and drop the executable there. Press enter to run it and paste the output.

[2020-03-17 21:40] mahlonzehr commented on #13
Microsoft Windows [Version 6.3.9600]
(c) 2013 Microsoft Corporation. All rights reserved.

C:\Windows\system32>\\Mac\Home\Downloads\TLImporter-3.0.4\TLImporter.exe
Traceback (most recent call last):
  File "TLImporter.py", line 68, in <module>
  File "site-packages\telethon\telegram_client.py", line 190, in __init__
  File "site-packages\telethon\telegram_bare_client.py", line 94, in __init__
  Fi

[2020-03-17 21:42] mahlonzehr commented on #13
Thanks for your help! Is that what you needed?

[2020-03-17 22:47] ferferga commented on #13
@mahlonzehr Do you have writing permissions in the directory where you're running it?

[2020-03-17 22:50] mahlonzehr commented on #13
I'm not exactly sure what you mean… this computer is my personal laptop so can set the permissions however they need to be set...

[2020-03-17 22:54] ferferga commented on #13
@mahlonzehr You aren't because, from the traceback, it seems that you're running this in a Mac using Bootcamp. You need to run the script using the Mac's Python interpreter, instead of the .exe.

Or, use a full Virtual Machine running in VirtualBox instead of a BootCamp system.

Or place the script in a Windows directory inside Bootcamp.

I never used Mac as my daily driver, so I don't know how to

[2020-03-17 23:00] mahlonzehr commented on #13
Ok I did try to run the Python file in the bin folder… It opens a dialogue box saying the file's encoding is invalid for Python 3.x. I click ok, and it opens another dialogue box, I click ok again, and it opens a third and final dialogue box. I'll attach the screenshots.

![Box 1](https://user-images.githubusercontent.com/62308787/76909394-59297c80-6868-11ea-8ca3-f2008245d53a.png)

![Box 2](https:

[2020-03-17 23:01] mahlonzehr commented on #13
You are correct, this is a Mac running Bootcamp...

[2020-03-17 23:02] ferferga commented on #12
@bhavye9499 Hey, sorry for the long time without replying! Completely missed this.

1. I will check what you say for the next update of TLImporter in an Unix-like system, because in Windows there are no issues at least with the current implementation, if I recall correctly.

2. In my intentions, the .pyc file is, in fact targeted for Linux/Mac users. I didn't use bytecode files extensively, but th

[2020-03-17 23:37] mahlonzehr commented on #13
I was able to get the install to go through running directly inside bootcamp. Thanks!

[2020-03-17 23:45] ferferga commented on #13
@mahlonzehr Great news! Closing this!

[2020-03-17 23:45] #13 closed, assigned to nobody

[2020-04-11 16:58] ferferga commented on #7
@Heartran I'm going to push an update this week, so I'm reviewing issues to close the ones I'm getting fixed. Are you still having issues with this?

Anyway, I'm 99% sure that issues unrelated to temporary problems with Telegram when importing to Saved Messages will be fixed.

[2020-04-22 17:56] ferferga commented on #11
@Evilamblonyx Now that I'm updating the whole family of Telegram Tools (TLMerger, TLSecret and TLImporter are the ones that I've just finished digging), I think that the problem with the multiline lines was introduced in #8, because I recall having multiple chats imported with multiline just fine (and, although the code is complete dirty everywhere, the current approach doesn't make much sense. I'

[2020-04-24 14:58] Evilamblonyx commented on #11
@ferferga
Thanks that you are still working on this Project. I think it's a important tool to get people to migrate from Whatsapp to Telegramm.
I'm willing to do tests with multiline chats. Do you want me to try out an older version, to make sure the problem was induced in #8 or should I wailt for you to send me the new version?

Thank you vor removing the Database, totally forgot about the phone

[2020-04-24 15:02] ferferga commented on #11
Just wait, as most of the stuff before #8 has been rewritten as well, so it doesn't matter. Maybe I can push it this night, but I'm 100% sure it will be out tomorrow, the only thing that's left to finish is the documentation and it shouldn't take as much as all the testing that the development of the tools involves.

[2020-04-24 16:29] Evilamblonyx commented on #11
Don't rush, I'll just wail for your release and test it then.

[2020-04-25 17:15] ferferga commented on #12
@bhavye9499 Everything commented in this issue has been addressed in [TLImporter 3.0.6](https://github.com/TelegramTools/TLImporter/releases/tag/3.0.6).

Closing this.

[2020-04-25 17:15] #12 closed, assigned to nobody

[2020-04-25 17:16] ferferga commented on #7
@Heartran @zaratans Everything commented in this issue has been addressed in [TLImporter 3.0.6](https://github.com/TelegramTools/TLImporter/releases/tag/3.0.6).

Closing this.

[2020-04-25 17:16] #7 closed, assigned to nobody

[2020-04-25 17:21] ferferga commented on #11
@Evilamblonyx All the problems with formatting (and with any kind of formatting really) should be finally addressed in [TLImporter 3.0.6](https://github.com/TelegramTools/TLImporter/releases/tag/3.0.6)

Please, try it and give me your feedback. I also released [TLRevert](https://github.com/TelegramTools/TLRevert), so you can remove all the traces of the previous (incomplete) import using that tool

[2020-04-25 17:56] ferferga commented on #10
@fabiosangregorio I didn't reply you back in the day when you posted this, but I checked it and you're right, media paths are specified in Whatsapp exports. I only exported chats where I had all the media removed from my storage, so it appeared in the txt as ``<media ommitted>``. So your idea seems feasible.

I finished adapting TLImporter to the new telethon versions (and Telegram layers), new se

[2020-04-28 08:43] Evilamblonyx commented on #11
@ferferga
Thank you for all your work. I'll test the new version as soon as I can. I've got some trouble exporting my chats from whatsapp at the moment, because they deactivated the export function in the german version. But as soon as I solved this problem, I'll start testing.

[2020-04-28 10:55] ferferga commented on #11
@Evilamblonyx No issues here, I can export chats as usual by going to the chat > three dots > More > Export

[2020-04-29 14:53] Evilamblonyx commented on #11
@ferferga That's not an issue with whatsapp. They deactivated this function on purpose. Blackberry sued Facebook at a German court, because Blackberry says they have a patent on the function to export chats. It sounds completely stupid to me, that you might get a patent for such a trivial function. But the court said Blackberry is right, and so Facebook deactivated this function for German users.

[2020-04-29 14:58] ferferga commented on #11
@Evilamblonyx lol :O

What if you use a VPN? Or temporarily change your number to another country and then change it back to your personal one?

Also, have you checked if you can export all the chats? Settings > Chats > History > Export all the chats.

Also, it might be worth it to go back a few version, although stuff might break.

[2020-04-29 15:25] eutampieri commented on #10
Hey! I was working on a WhatsApp export parser too! @fabiosangregorio are you Italian? If so, my fields vary a little from yours. Anyway, if you want some help let me know

[2020-04-29 16:02] Evilamblonyx commented on #11
@Evilamblonyx I'll try out to use a VPN, but I think they identify the country you are in by your phone number. I would like to use another phone number, but I have no idea how to get a SIM cart from another country.
Some people say going back a few versions worked for them. I tried it, but without success so far.
Exporting all chats is deactivated as well.

Thank you for working on this problem w

[2020-05-02 11:01] fabiosangregorio commented on #10
Sorry, as always too many projects and too little time. I won't be able to put together a PR for a long time. University is time consuming :)
Yes, the export language is indeed italian.

[2020-05-02 12:39] eutampieri commented on #10
@fabiosangregorio is your export from WhatsApp? Mine (from Android and iOS) are formatted differently…
They’re formatted like this:
`[timestamp] sender: message`
With message being either the text or the `<attachment(allegato):` `filename>` for attachments

[2020-05-02 13:30] fabiosangregorio commented on #10
Exporting a chat via Chat > Menu > Other > Export chat > Share via... > Email results in two files being sent via email:

Chat txt file
---

The chat file is formatted as
[code]
with `[]` being optional.

<details>
<summary>Chat WhatsApp con Lucia RedactedSurname.txt</summary>
17/03/18, 18:54 - I messaggi inviati a questa chat e le chiamate sono ora protetti con la crittografia end-to-end. Tocca p

[2020-05-02 13:57] Evilamblonyx commented on #11
@ferferga
Ok, I found a solution. Theres a Chrome Extension, that let you export whatsapp chats from the whatsapp webinterface.
I'll start testing now.

[2020-05-02 14:07] eutampieri commented on #10
[_chat 2.txt](https://github.com/TelegramTools/TLImporter/files/4567878/_chat.2.txt)
Here's mine

[2020-05-02 14:25] Evilamblonyx commented on #11
@ferferga
Hm, it doesn't work. There is only one message importet to telegramm, that contains all messages.
Imput:
[linebreaks.txt](https://github.com/TelegramTools/TLImporter/files/4567905/linebreaks.txt)

Result:
![image](https://user-images.githubusercontent.com/61463469/80866780-ebf36e80-8c90-11ea-87f8-245dc7df9194.png)

I blachened some personal informarion in the files.

If it's usefull for

[2020-05-02 14:36] ferferga commented on #11
@Evilamblonyx Ping me on Telegram

[2020-05-03 16:13] eutampieri commented on #10
@ferferga can I implement an alternative parser which gets activated if the program finds that messages are in the format above? Because otherwise the software imports messages as an unique looong message. Maybe I should open another issue instead to keep track of this...

[2020-05-03 16:17] ferferga commented on #10
@eutampieri I think this is the same problem as the one reported in #11. I'm looking into it.

[2020-05-03 16:21] eutampieri commented on #10
Yes, it’s the same issue but it doesn’t crash

[2020-05-20 07:46] eutampieri commented on #10
I'm starting to have @fabiosangregorio's problem…. I don't have an ETA yet

[2020-05-21 08:01] eutampieri commented on #11
This is similar to the iOS exports, also please notice that every attachment contains in the filename the 1-based number of the message (i.e. if I send a photo on the 6th message the photo filename will be prefixed with  00000006-) and @mgiacopu found out that every message containing an attachment is prefixed by <U+200E>, like this message: `<U+200E>[19/10/19, 14:34:11] Eugenio Tampieri: <U+200E>

[2020-05-21 08:03] eutampieri commented on #11
This format divergence could be handled by asking the user which format the messages are in

[2020-05-28 15:17] cascading-jox opened #14 "Broken parsing of messages from WhatsApp"
I have some problems trying to use the linux application. I tried to use the application in 1:1 mode (not secret) and everything seemed good but apparently something went wrong with the parsing. The messages were at first structured in the right way but without a timestamp at the end, the [] were empty (even though I had the option turned on). Then after a couple of messages I got the raw output f

[2020-06-24 12:08] ferferga commented on #14
@cascading-jox Hey there! Sorry for the delay, ended up exams and only now I could take a look into TLImporter's issues.

I already had some reports of this. [I pushed TLImpoter 3.0.7](https://github.com/TelegramTools/TLImporter/releases/tag/3.0.7) which has some improvements in this area (if you're using common formats for the text messages it should work rightaway, otherwise you must adapt your

[2020-06-24 12:11] ferferga commented on #11
Hello guys @eutampieri @Evilamblonyx!

Following the conversation and samples provided by @Evilamblonyx, I added a few tweaks that should make the text parsing a little bit more solid for old formats. I think it should work with mostly every file that has an *standard* format for text files.

Everything [is on 3.0.7 release](https://github.com/TelegramTools/TLImporter/releases/tag/3.0.7). Would yo

[2020-06-25 13:05] cascading-jox commented on #14
@ferferga No worries!

I tried it again and the messages looks correct now with `3.0.7`. I noticed that some other things are not working as expected. The timestamp is in MM/DD/YY (same as the original txt file), maybe that can be configurable to DD/MM/YY?

I used the options:
[code]
but looking at the text messages, the timestamp is missing hashtags and name of the person. One person in the conve

[2020-06-26 10:28] eutampieri commented on #11
I can't test it now, if you want I can send you a demo export

[2020-06-26 12:02] ferferga commented on #14
@cascading-jox As specified in the [Importing chats](https://github.com/TelegramTools/TLImporter/wiki/Importing-chats) section of the instructions, you must type the name of your partner as it appears in the text file.

I'm not going to add different format support: what you have in your file is what you get. Supporting every type of date format that exists is really difficult and, in order to sup

[2020-06-26 12:02] #14 closed, assigned to nobody

[2020-06-26 12:05] ferferga commented on #11
@eutampieri Send it here as a quote.

Did you check if the format is similar to the one that @Evilamblonyx has or [the one](https://github.com/TelegramTools/TLImporter/issues/14#issuecomment-649527866) here?

[2020-06-26 12:52] eutampieri commented on #11
It closely resembles @Evilamblonyx 's one. I attached it on issue #10

[2020-06-26 13:45] ferferga commented on #11
@eutampieri Yes, I can confirm yours is working fine as well now. Closing.

[2020-06-26 13:45] #11 closed, assigned to nobody

[2021-01-02 11:37] Johon1184 opened #15 "How instal"
How instal TLimporter

[2021-01-02 11:42] ferferga commented on #15
@Johon1184 What exactly you don't understand?

[2021-01-02 12:02] Johon1184 commented on #15
I want to import a message from WhatsApp to Telegram

[2021-01-02 12:03] Johon1184 commented on #15
how to use this app

[2021-01-02 12:04] Johon1184 commented on #15
I'm new here

[2021-01-03 11:03] ferferga commented on #15
@Johon1184 First of all, thank you for your interest in my tool and welcome to GitHub. As a side note, write your messages in a single comment, not across different ones, as it's annoying with the notifications.

Continuing with your question, there's no need to install this app: just download it [as specified in the README](https://github.com/TelegramTools/TLImporter#download) and run, no need to

[2021-01-03 11:03] #15 closed, assigned to nobody

[2021-01-09 09:41] tbg113 opened #16 "Command not working"
Before importing, the are various settings that need to be confirmed. The available commands are
!C: confirm these settings
!1:
!2:
!3:

I typed in !C: but it constantly gives me an error. Attached is a picture
![20210109_114057](https://user-images.githubusercontent.com/77191476/104088426-96d01980-526f-11eb-92da-ff3592c6c0c2.jpg)

[2021-01-09 10:27] ferferga commented on #16
@tbg113 You want ``!C`` alone. The ``:`` is just for the description

[2021-01-09 10:29] tbg113 commented on #16
Thanks

[2021-01-09 10:30] #16 closed, assigned to nobody

[2021-01-09 15:40] praveenvellaturi opened #17 "Could you please develop this for signal too"
Hi impressed with your TLImporter, If you develop this for signal then it would be helpful for many
Thanks 😊

[2021-01-11 06:53] maxlinux2000 opened #18 "Gropus message imports (strategy to workaround)"
Hello
Soon I am going to leave WhatsApp forever, and I would like to import into telegram, the conversations of some groups ... and of course it does not work, also I cannot ask for the login code from all the participants of the original group.

It would be nice if group chats could be imported as if it were just me speaking, but before each message the name (or phone number) of the owner is auto

[2021-01-11 08:58] ferferga commented on #18
@maxlinux2000 Hello

You should be able to already using solo mode.

Read documentation for more information.

[2021-01-11 10:21] maxlinux2000 commented on #18
You are right! It's working!! :-)

[2021-01-11 14:58] itaybia commented on #18
where is the "solo mode" documentation? couldn't find it in TLImporter.
do i need to import each peer in the group separately, or is the "solo mode" an option to import all messages without actually knowing anything about the peers?

[2021-01-11 15:25] ferferga commented on #17
@praveenvellaturi Hello

I don't use signal so, unless one day I use it and I need to bring my chats there, I won't do it.

[2021-01-11 15:25] #17 closed, assigned to nobody

[2021-01-11 15:26] ferferga commented on #18
@itaybia Solo mode just takes the text, formats them (so the name of the senders and dates appear correctly) and outputs everything into a single chat.

It doesn't care about the people in the group, everything is processed line by line in the file.

Closing this as the original question has been resolved.

[2021-01-11 15:27] #18 closed, assigned to nobody

[2021-01-11 15:34] praveenvellaturi commented on #17
😂😂nice cover drive😒

[2021-01-11 15:36] praveenvellaturi commented on #17
Then will you try without asking others account credintials. No one will share the passwords right 🤭

[2021-01-11 15:40] ferferga commented on #17
@praveenvellaturi What do you mean?

[2021-01-11 15:48] itaybia commented on #18
@ferferga can you please direct me to the documentation of the solo mode? is it just when entering "n" to the 1:1 option at start?
when i do that it still asks me for 2 peers in the conversation. and eventually fails on String appending NoneType.

[2021-01-11 15:54] ferferga commented on #18
@itaybia Exactly, [right there](https://github.com/TelegramTools/TLImporter/blob/python/src/TLImporter.py#L1043)

There's no documentation as all the documentation was written way before solo mode existed. I didn't deem it necessary because the process is exactly the same.

The 2 peers is asking you is to recognize in the text file the name of every person, so TLImporter can properly put the name

[2021-01-13 17:15] mikebreeezy opened #19 "Import chats from Facebook Messenger"
Hi, everybody I know is leaving from facebook messenger to Telegram. Is there any way to save chats from facebook messenger into a txt file that is formatted for use in TLImporter? Thanks for making this tool!

[2021-01-14 17:50] Cimmo opened #20 "Add support for group chats"
It would be nice to be able to import group chats and not only 1:1 conversations.
I tried the importer, but it seems asking only for two people, so likely this is not for group chats, I tried the FAQ but it doesn't really say.

[2021-01-14 17:55] Cimmo commented on #20
I see this, need to find out about the solo mode: https://github.com/TelegramTools/TLImporter/issues/18

[2021-01-14 17:58] ferferga commented on #19
Did you try? https://m.facebook.com/help/212802592074644/?ref=u2u

If the messages are not in a valid format, you can always reformat them yourself, much easier than copying and pasting the whole file in Telegram :).

[2021-01-14 18:07] ferferga commented on #20
I'm closing this then :)

[2021-01-14 18:07] #20 closed, assigned to nobody

[2021-01-15 17:28] philotheako opened #21 "Using the TLImporter, running into glitches..."
Hi, I am not a developer or a person versed in computer science or code, though I did take one coding class in college years ago. However, I was trying to use this importer as this is the only tool I have found, period, to transfer my WhatsApp chat to Telegram. Everything was going smoothly until the program asked for the code which was sent to the other person's number. I chose to not transfer th

[2021-01-15 17:40] maricn commented on #18
This "Solo Option" still works by only importing two members' messages at a time. How to go about if I want to import messages from all the group members, let's say 5? Should we run the tool multiple times? For 5 people, I would run it twice to get 2*2=4 but then one person would be left out... Also, in that case the chronological order of the imported messages will not be linear.

That is absolut

[2021-01-15 17:46] philotheako commented on #21
![Picture1](https://user-images.githubusercontent.com/77503894/104760613-39344500-5727-11eb-8459-29b9189e6c99.png)

[2021-01-15 18:31] mikebreeezy commented on #19
I did try that link and it formatted it into HTML and the only other option is JSON but they are are not easy to reformat like the Whatsapp backups are.

[2021-01-15 20:20] ferferga commented on #21
@philotheako Hello

Don't remember where I read that, but I recall hearing that Telegram implemented a mechanism where, if it detects that a message contained the login code, it automatically invalidates it. Could you try redoing all the process (so a new code is sent to your friend) and then ask your friend to call you or sent it to you using a secret chat or other medium, like a phone call?

[2021-01-15 20:32] ferferga commented on #18
@maricn I didn't do it for three reasons:

* I wasn't going to use it. In fact I never used Solo Mode beyond testing, I don't see the utility in importing messages only for yourself, but I guessed it would be going to be useful for some people
* Flood limits are really tight in groups. **Really** tight. You might be able to send only 100 messages and then get blocked for flood limits, so 5000 mess

[2021-01-15 20:34] ferferga commented on #19
@mikebreeezy Then I had no idea, maybe you could make an script, regex or something so it resembles WhatsApp format (or tinker around TLImporter's code to see if you can adapt it to your necessities). Otherwise I think you're out of luck, I don't use Facebook Messenger myself so I don't know any tool or way to convert them to plaintext.

[2021-01-16 20:16] philotheako commented on #21
Thank you, that worked! Yes, I was not aware of that little clause.

[2021-01-17 06:26] Sohyperbolic commented on #10
Yes it will be good to get the voice files and photos imported too.

[2021-01-28 10:28] grumitos commented on #10
Hi there is another problem with timestamps, while I can fix it by changing the language and exporting again, I want to know if you are aware of this.

![image](https://user-images.githubusercontent.com/77018402/106124896-95d13000-6129-11eb-9015-4fea5e00f009.png)

![image](https://user-images.githubusercontent.com/77018402/106124949-a5507900-6129-11eb-9ec5-fb48b7c2e792.png)

My export language is

[2021-01-28 12:49] parchevs opened #22 "Вадим"
Яяяяяя

[2021-01-28 12:49] parchevs opened #23 "Надя"
Яяяя

[2021-01-28 12:50] #23 closed, assigned to nobody

[2021-01-28 13:12] #22 closed, assigned to nobody

[2021-01-28 17:34] grumitos commented on #10
Ok, 2 hours ago they just released an update with official support to import chats (including multimedia) XD

[2021-02-02 04:56] ranger21515 commented on #19
I downloaded my Facebook Messenger messages through: https://m.facebook.com/help/212802592074644/?ref=u2u

And I used Microsoft Word to convert the .html into .txt, but I still failed to import the messages through TLImporter. This error message appeared as below:
![螢幕擷取畫面 2021-02-02 125335](https://user-images.githubusercontent.com/74826774/106554115-9540ec80-64cf-11eb-9677-5abb9657914c.png)

I a

[2021-02-02 22:17] ferferga commented on #19
@ranger21515 You can't use Microsoft Word as it won't output a txt file, rather a docx or doc file with formatting.

You need to use classic **notepad** (search for that word in Start menu and it will appear) or a third-party tool like notepad++.

Make sure that the formatting you end up with in the txt is the same as the one provided in my samples. If it's the same, it's unlikely you will face fu

[2021-02-03 06:30] ranger21515 commented on #19
![螢幕擷取畫面 2021-02-03 141433](https://user-images.githubusercontent.com/74826774/106706147-304dd980-662a-11eb-820e-fa5def4623e3.png)

I just did what you've told me. I copied and pasted the message content into a Notepad and saved the file as a .txt format with UTF-8 encoding. But I still failed to import my message into Telegram through the TLIporter and got this error message as above.

I guess th

[2021-02-03 09:08] ferferga commented on #19
@ranger21515 Yes, it's a format issue: as you can see, it isn't able to locate the name of the people in the txt as it can't recognize the format provided.

You must format the messages manually or using a regex, so it looks like the sample one. Otherwise it will never work.

[2021-02-07 04:44] aflorenzan commented on #10
That's correct, but due to whatsapp restrictions/limitations you can't export your whole chat history but only the last 40,000 messages (without media).

Source: https://faq.whatsapp.com/android/chats/how-to-save-your-chat-history/?lang=en

[2021-02-08 10:27] ferferga commented on #10
@Dislekzi4 It's not a language poblem, it's because they replaced ``:`` with ``-`` again. The app in fact was coded around Spanish format.

Check here to see the appropiate format that TLImporter will always support so you can adapt it yourself
https://github.com/TelegramTools/TLImporter/blob/python/samples/WhatsApp_Chat_Diego_Vel%C3%A1zquez.txt

As a side note, this question doesn''t belong to th

[2021-02-13 16:52] philotheako commented on #21
Hey, I was trying to use the importer again with another friend of mine and after I input the txt file in there, it says there is an "irrecuperable" error. Looking at the  TLImporter Log file doesn't help me much. At first, it said that the ut8 something coding wasn't legible on lines 4469-4470 but when I looked up those lines, they were just normal text which shouldn't cause any problems. However

[2021-09-16 12:21] muety commented on #10
Hi all, will this tool eventually support importing media files, using Telegram's official API?

[2022-06-19 10:34] shsf1382hAcKeR opened #26 "Importing chat exports from telegram to telegram itself"
Hi.
So I was searching the web for a way to import telegram exported chats from telegram to telegram itself. Is there anyway I can do that with this program or any program you recommend?

Telegram lets you export chats in two formats :
**- Html | Human readable**
**- JSON | Machine readable**

There's not _txt_ file in the exports.

[2022-06-19 14:09] ferferga commented on #26
This is what you want instead: https://github.com/TelegramTools/TLMerger

[2022-06-19 14:09] #26 closed, assigned to nobody